beehiveenv
beehive_utils/assets/sounds
detections
models/.ipynb_checkpoints
models/dataset
models/*.keras
test_images
git_instructions.txt
bird_annotation/bird-dataset/images/train/*.jpg
bird_annotation/bird-dataset/images/train/*.png
bird_annotation/bird-dataset/images/val/*.jpg
bird_annotation/bird-dataset/images/val/*.png
bird_annotation/bird-dataset/labels/train/*.txt
bird_annotation/bird-dataset/labels/val/*.txt
